:root {
  color-scheme: light dark;
  /* font-size: 1.5em; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

main {
  max-width: min(100svw, 75ch);
  margin-inline: auto;

  & * {
    text-wrap: pretty;
  }

  & #ads {
    & figure {
      & img {
        background-color: light-dark(#999C, #CCCB);
        max-width: min(100svw, 100%);
      }

      & figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & p {
          display: inline-block;
          text-align: center;
          width: calc_size(max-content, min(100dvw, size));
        }
      }
    }
  }

  #connect ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  & .icon {
    max-height: 3em;
    min-width: 4em;
  }
}